
.footer{
    /* font-family: "bello-pro-1", "bello-pro-2", sans-serif; */
    padding: 3% ;
    background-color: black;
    color: white;
    font-size: large;
    margin-top: 300px;
    
  
}
.abt{
    font-weight: 750;
}
.firststpart{
   font-size: x-large;
    display: flex;
    justify-content: space-around;
}
.secondpart{
    font-size: x-large;
    display: flex;
    justify-content: space-around;
    line-height: 22px;
}
.flag{
    margin-top: 2mm;
    margin-right: 2mm;
    height: 5mm;
    width: 5mm;
}
.beautiful{
    font-family: Times, "Times New Roman", Georgia, serif;
    font-weight: 500;
    font-size: 25px;
}
.live_beauty, .store_img, .get_app, .text_alert, .credit_card{
    height: 5mm;
    width: 5mm;
    margin-right: 2mm;
}
.livebeauty, .store, .getapp,.textalert, .creditcard{
    display: flex;
    justify-content: right;
}
.thirdpart{
    display: flex;
    justify-content: space-evenly;
    border: 2px white;
    line-height: 15px;
    font-size: x-large;
}
/* .thirdpart > div{
    display: block;
    justify-content: left;
} */
.adress{
    margin-top: 10px;
    display: block;
    /* position: absolute;
    left: 5; */
    margin-left: -950px; 

}
/* .columnone{
    display:flex ;
} */
.columnfour div{
    text-align: center;
    display:flex;
    align-items: center;
}
.columnfive{
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.terms_and_co{
    display: flex;
    justify-content: left;
    gap: 10px;
}
.cont_no{
    margin-left: 0px;
    display: flex;
    justify-content: left;
    gap: 20px;
}
.logos{
    margin-top: -35px;
    gap: 4mm;
    display: flex;
    justify-content: end;
}
.signup_button{
    font-weight: 600;
    font-size: x-large;
    color: white;
    padding: 7px 15px;
    border-radius: 18px;
    border: 1px solid white;
    background-color: black;
}
.placeholder{
    font-size: x-large;
   
}
.check{
    margin-top: -7px;
    margin-left: -7px;
    height: 8mm;
    width: 4mm;
}
.su{
    font-weight: 600;
}
.su_main{
    display: flex;
}